body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.react-grid-Row--even {
    background-color: #fff;
}

.react-grid-Row--odd {
    background-color: rgba(33, 150, 243, 0.08);
}

.react-grid-Row {
    height: 53px !important;
    transition: all 0.3s ease-in-out;
}

.react-grid-Row:hover {
    background-color: #eee;
    transition: all 0.2s ease-in-out;
}

.react-grid-Cell {
    background-color: transparent !important;
    height: 37px !important;
    padding: 8px;
    border-right: none !important;
}

.react-grid-Cell:not(.editing) .react-grid-Cell__value {
    padding-left: 7px !important;
    padding-right: 5px !important;
}

.react-grid-HeaderRow {
    height: 53px !important;
}
